<header class="section header-section">
   <div class="container header-container">
      <form class="search-form" id="search-form">
         <input
            class="search-form__input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Search images..."
         />
         <button type="submit" class="button button__search">
            <svg class="button__search__icon" width="14" height="14">
               <use href="./images/symbol-defs.svg#icon-search"></use>
            </svg>
         </button>
      </form>
   </div>
</header>
